---
---

@import "{{ site.theme }}";

body {
  align-items: stretch;
  background: rgba(194,221,224,.49);
  color: #6C6C71;
  display: flex;
  height: 100vh;
  flex-flow: column;
  font-family: 'GothamRndBook', 'Helvetica', sans-serif;

  main {
    background: rgba(194,221,224,.49);
    font-family: inherit;
    flex: 5;

    p {
      color: #6C6C71;
      font-size: 1.1em;
      line-height: 1.5;
    }
  }

  .inner {
    max-width: 960px;
  }

  &.page {

    nav {

      .nav-tabs.centered.top {
        background: transparent;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          background: transparent;
          margin: 0 4px;
          width: auto;

          &:nth-child(1),
          &:nth-child(2) {
            margin-right: 4px;
            margin-left: 4px;
          }

          &:not(.active) {
            background: transparent;
          }

          a {
            color: #fff;
            padding: 12px 16px 10px;

            &:hover,
            &.current {
              background-color: #fff;
              color: #004C72;
            }
          }
        }
      }
    }
  }
}

h1 {
  background: none;
  color: #004C72;
  font-family: 'GothamRndBold', sans-serif;
  font-size: 32px;
  font-weight: normal;
  text-shadow: none;
}

h2 {
  background: none;
  border-bottom: none;
  color: #70AFB6;
  font-family: 'GothamRndBold', sans-serif;
  font-size: 1.6125em;
  font-weight: normal;
  letter-spacing: normal;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  color: #70AFB6;
  font-family: 'GothamRndBold', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  letter-spacing: normal;
  margin: 1rem 0;
}

a {
  color: #337ab7;
}

.navbar-default {
  background-color: #fff;

  h1 {
    background: transparent;
    padding: 60px 0;
  }
}


header {
  background: #004C72;
  padding: 16px 0 0;

  a {
    color: #fff;

    &.current,
    &:hover {
      color: #004C72;
      text-decoration: none;
    }
  }
}

section {
  padding: 20px 0;
}

#main_content_wrap {
  border: none;
}

#focus {
  background: #fff;
}

#implementation {
  background: #f5f6ef;

  p {
    margin-bottom: 3rem;
  }
}

.inner-inner {
  // font-size: .875em;
  // padding: 20px;

  p {
    // color: #555;
    // font-size: 1.25em;
    margin-bottom: 3rem;
  }

  strong {
    // color: #555;
  }

}

img {
  padding: 0;
  max-width: 100%;
}

.bio {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}

.left {
  display: inline-block;
  margin: 0 10% 0 0;
  width: 22%;
}

.right {
  display: inline-block;
  margin: 0 -4px;
  vertical-align: top;
  width: 68%;

  p {
    font-size: .875em;
  }
}

#footer_wrap {
  background: #004C72;
  color: #fff;
  font-size: .75em;

  p {
    color: #fff;
  }

  a {
    color: #fff;
  }
}

#page-grid {
  #footer_wrap {
    a {
      color: #fff;
    }
  }
}

#data-viewer-iframe {
  height: 100%;
  width: 100%;
}

@import "./ost-data-viewer.css";
