<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body class="page">

    <header>

      <nav>
        <ul class="nav nav-tabs centered top">
          <li><a href="/mpa-ca-human-uses/" class="current">Home</a></li>
          <li><a href="/mpa-ca-human-uses/bios.html">Our Team</a></li>
          <li><a href="/mpa-ca-human-uses/resources.html">Project Resources</a></li>
          <li><a href="/mpa-ca-human-uses/data-viewer.html">Data Viewer</a></li>
        </ul>
      </nav>

    </header>

    <!-- MAIN CONTENT -->
    <main>

      <div class="navbar-default">
          <div class="inner">
            <h1 class="center-text">Establishing a Statewide Baseline and Long-Term MPA Monitoring Program for Commercial and Commercial Passenger Fishing Vessel (CPFV) Fisheries in the State of California</h1>
          </div>
      </div>

      <div class="inner">

        <p>People are an integral part of the California coastal ecosystem, and we stand to experience impacts and benefits from the newly implemented marine protected area (MPA) network. To understand the dynamic relationship between people and the environment through the lens of MPAs, we need to understand current and historical uses of coastal resources.</p>

      </div>

      <section id="focus">
        <div class="inner">
          <h2>Focus on Human Uses</h2>
          <p>Humboldt State University (HSU) researchers, Ecotrust, and Strategic Earth Consulting are supporting the state to assess the baseline socioeconomic conditions of two human uses throughout the state of California and their relationship to the MPA network: commercial and commercial passenger fishing vessel (CPFV) fisheries. Our team will design an approach to monitor socioeconomic conditions related to fishing to inform long-term MPA monitoring. Results of this study will guide the 10-year management review of California’s MPA network.</p>
        </div>
      </section>

      <section id="implementation">
        <div class="inner">
          <h2>Implementation</h2>
          <p>The socioeconomic status of California state fisheries is affected by the complex exchange between regulatory, environmental, and socioeconomic factors. MPAs are one of the many influences that could affect spatial fishing patterns and the economic health of California fisheries. Given this complexity, this project aims to assess commercial and CPFV fisheries across the state using temporal, spatial, and place-based approaches. Combined, these approaches will illustrate economic and spatial changes over time and provide insights on how place-based factors, including MPAs, have played a role in driving observed and experienced socioeconomic changes.</p>

          <div class="inner-inner">
            <h3>Temporal</h3>
            <p>We will analyze historical economic trends (e.g., participation rates, landings, revenue) in commercial and CPFV fisheries from 1992 to 2020 and use this time-series data to assess patterns and changes observed over time and to describe the current economic status of fisheries.</p>

            <h3>Spatial</h3>
            <p>We will integrate regional-level spatial data sets since the time of each region's implementation to develop a statewide understanding of spatial fishing patterns and evaluate how these have changed since MPA implementation.</p>

            <h3>Place-based</h3>
            <p><strong>In Spring and Summer 2020, we will engage with the commercial and CPFV fishing communities in an on-the-ground focus group tour throughout 24 port complexes in California.</strong> To assist this effort, we are developing a ‘Port Community Well-being Assessment Tool’ (i.e., a questionnaire) that will be used to gather quantitative and qualitative information about the health and well-being of California fisheries in the context of MPAs. Questions from the Tool will guide focus group discussions, which will be used to gain a snapshot of the socioeconomic conditions of fisheries in California. The focus groups will provide information about fishermen’s perceptions of MPAs and the ways fishermen have been affected by the MPAs since implementation.</p>
          </div>
        </div>
      </section>

      </div>
    </main>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
