<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body class="page">

    <header>

      <nav>
        <ul class="nav nav-tabs centered top">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/bios.html">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/resources.html">Project Resources</a></li>
          <li><a href="{{ site.baseurl }}/focus-group-summaries.html" class="current">Focus Group Summaries</a></li>
          <!-- <li><a href="{{ site.baseurl }}/data-viewer.html">Data Viewer</a></li> -->
          <li><a href="{{ site.baseurl }}/mpa-map.html">MPA Map</a></li>
        </ul>
      </nav>

    </header>

    <main>

      <div class="navbar-default">
        <div class="inner">
          <h1 class="center-text">Perspectives on the Health and Well-being of California’s Commercial Fishing Communities in Relation to the MPA Network</h1>
          <p class="center-text">For a list of ports included in each focus group, please see this​ <a href="{{ site.baseurl }}/resources/MPA_Human_Uses_Port_Groups_Summary_Updated_March_2021.pdf">Port Groupings Summary</a></p>
        </div>
      </div>

      <div class="inner">

        <section id="main_content">

          <h2>Commercial Fishing Focus Group Summaries</h2>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_CrescentCity_August62020.pdf">Crescent City</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_Trinidad_October272020.pdf" class="">Trinidad</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/Eureka_MPA_Human_Uses_Commercial_Focus_Group_Summary.pdf">Eureka</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_ShelterCove_October192020.pdf">Shelter Cove</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_FortBraggAreaPorts_November52020.pdf">Fort Bragg Area Ports</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_PointArena_February12021.pdf">Point Arena</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_BodegaBay_July92020.pdf">Bodega Bay Area Ports</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SanFranciscoAreaPorts_October262020.pdf">San Francisco Area Ports</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_Princeton-HalfMoonBay_November192020.pdf" class="">Princeton - Half Moon Bay</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SantaCruz_December82020.pdf" class="">Santa Cruz</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_MossLanding_December162020.pdf" class="">Moss Landing</a></p>
          <p><a class="unlinked">Monterey / Big Sur Coast<sup>*</sup></a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_MorroBay-PortSanLuis_October292020.pdf" class="">Morro Bay - Avila / Port San Luis</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SantaBarbara_August312020.pdf">Santa Barbara</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_Ventura_ChannelIslandsAreaPorts_September162020.pdf">Ventura/Channel Islands Area Ports</a></p>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_LosAngeles_LongBeachAreaPorts_September42020.pdf">Los Angeles/Long Beach Area Ports</a></p>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_OrangeCountyAreaPorts_September92020.pdf">Orange County Area Ports</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_Oceanside_April–May2021.pdf" class="">Oceanside</a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SanDiegoAreaPorts_March22021.pdf" class="">San Diego Area Ports</a></p>

          <h2>CPFV Focus Group Summaries</h2>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_NorthCoastAreaPortsCPFV_February82021.pdf">Group A: Crescent City, Trinidad, Eureka, Shelter Cove, Fort Bragg, Albion, Point Arena</a></p>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_BodegaBayAreaPortsCPFV_February102021.pdf">Group B: Bodega Bay / Bolinas</a></p>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SanFranciscoAreaPortsCPFV_September102020.pdf">Group C: San Francisco Area Ports, Princeton - Half Moon Bay</a></p>
          <p><a class="unlinked">Group D:​ Santa Cruz, Moss Landing, Monterey Bay<sup>*</sup></a></p>
          <p><a class="" href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_SantaBarbara_Ventura_ChannelIslandsAreaPortsCPFV_March112021.pdf">Group E:​ Morro Bay, Avila-Port San Luis, Santa Barbara, Ventura, Port Hueneme-Oxnard</a></p>
          <p><a class="unlinked">Group F: ​Los Angeles - Long Beach Area Ports<sup>*</sup></a></p>
          <p><a href="{{ site.baseurl }}/resources/focus_group_summary/MPAHumanUses_FocusGroupSummary_OrangeCounty_SanDiegoAreaPortsCPFV_November202020.pdf" class="">Group G:​ Orange County Area Ports, Dana Point, Oceanside, San Diego Area Ports</a></p>
          <br />
          <p><sup>*</sup>Fishermen from these ports/port groups chose not to participate in a focus group conversation.</p>
        </section>
        </section>
      </div>

    </main>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="https://ecotrust.org">Ecotrust</a></p>
        {% endif %}
      </footer>
    </div>


      {% if site.google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
        </script>
      {% endif %}

  </body>
</html>
