<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body class="page">

    <header>

      <nav>
        <ul class="nav nav-tabs centered top">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/bios.html">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/resources.html">Project Resources</a></li>
          <li><a href="{{ site.baseurl }}/key-themes.html" class="current">Port Summary</a></li>
          <li><a href="{{ site.baseurl }}/data-viewer.html">Data Viewer</a></li>
          <li><a href="{{ site.baseurl }}/mpa-map.html">MPA Map</a></li>
        </ul>
      </nav>

    </header>

    <main>

      <div class="navbar-default">
        <div class="inner">
          <h1 class="center-text">Key Themes Summary</h1>
        </div>
      </div>

      <div class="inner">

        <section id="main_content">

          <h2>Port Focus Group</h2>
          <p><a href="{{ site.baseurl }}/resources/port_summary/" disabled></a></p>
          <p><a href="{{ site.baseurl }}/resources/Prep_Packet_for_Commercial_Fishing_Focus_Group.pdf">Prep Packet for Commercial Fishing Focus Group Conversations</a></p>

          1. Crescent City (2)
a. Crescent City
b. Klamath
2. Trinidad
3. Eureka (6)
a. Arcata
b. Eureka
c. Fields Landing d. Humboldt Bay e. King Salmon
f. Orick
4. Shelter Cove
5. Fort Bragg (4)
a. Elk
b. Fort Bragg c. Little River d. Westport
6. Albion
7. Point Arena
8. Bodega Bay (8)
a. Bodega Bay b. Dillon Beach c. Healdsburg d. Inverness
e. Jenner
f. Marconi Cove g. Marshall
h. Tomales Bay
9. Bolinas (3)
a. Bolinas
b. Drakes Bay c. Point Reyes
10. San Francisco Area Ports (27)
a. Alameda
b. Alviso
c. Berkeley
d. China Camp e. Crockett
f. Danville
g. El Sobrante
h. Emeryville
i. Foster City
j. Fremont
k. Martinez
l. Newark
m. Oakland
n. Petaluma
o. Pinole
p. Redwood City q. Richmond
r. Rio Vista
s. Rodeo
t. San Francisco u. San Leandro v. San Rafael
w. Sausalito
Establishing a Statewide Baseline and Long-Term Marine Protected Area (MPA) Monitoring Program for Commercial and Commercial Passenger Fishing Vessel Fisheries in the State of California
Updated February 4, 2020
x. South San Francisco y. Tiburon
z. Vallejo
aa. Yountville
11. Princeton - Half Moon Bay (2)
a. Pacifica
b. Princeton-Half Moon
12. Santa Cruz
13. Moss Landing
14. Monterey/Big Sur Coast (4)
a. Big Creek
b. Mill Creek
c. Monterey
d. Willow Creek
15. Morro Bay (2)
a. Morro Bay
b. San Simeon
16. Avila-Port San Luis (2)
a. Avila-Port San Luis
b. Oceano
17. Santa Barbara (5)
a. Gaviota Beach
b. Goleta Beach
c. Guadalupe Beach
d. Santa Barbara Harbor e. Surf Beach
18. Ventura
19. Port Hueneme - Oxnard (2)
a. Oxnard
b. Port Hueneme
20. Los Angeles/Long Beach Area Ports (14)
a. Avalon
b. Catalina Island
c. Hawaiian Gardens d. Hermosa Beach
e. Long Beach
f. Los Angeles
g. Malibu
h. Marina Del Rey
i. Point Dume
j. Redondo Beach
k. San Pedro
l. Santa Monica
m. Terminal Island
n. Wilmington
21. Orange County Area Ports (4)
a. Balboa
b. Huntington Beach c. Newport Beach
d. Seal Beach
22. Dana Point
23. Oceanside
24. San Diego Ports (8)
a. Chula Vista
b. Coronado
c. Imperial Beach d. La Jolla
e. Mission Bay
f. National City g. Point Loma
h. San Diego
        </section>
      </div>

    </main>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="https://ecotrust.org">Ecotrust</a></p>
        {% endif %}
      </footer>
    </div>


      {% if site.google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
        </script>
      {% endif %}

  </body>
</html>
