<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
</head>

<body class="page">

    <!-- HEADER -->
    <header>

        <nav>
            <ul class="nav nav-tabs centered top">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/bios.html">Our Team</a></li>
                <li><a href="{{ site.baseurl }}/resources.html">Project Resources</a></li>
                <li><a href="{{ site.baseurl }}/data-viewer.html">Data Viewer</a></li>
                <li><a href="{{ site.baseurl }}/mpa-map.html" class="current">MPA Map</a></li>
            </ul>
        </nav>

    </header>

    <main>

        <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style>
        <div class="embed-container"><iframe id="data-viewer-iframe" title="California Marine Protected Areas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.arcgis.com/apps/mapviewer/index.html?webmap=ae257759d0f64874930e688bb8142440"></iframe></div>

    </main>


    {% if site.google_analytics %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
    </script>
    {% endif %}
</body>
</html>
