<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body class="page">

    <header>

      <nav>
        <ul class="nav nav-tabs centered top">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/bios.html">Our Team</a></li>
          <li><a href="{{ site.baseurl }}/resources.html" class="current">Project Resources</a></li>
          <li><a href="{{ site.baseurl }}/focus-group-summaries.html">Focus Group Summaries</a></li>
          <li><a href="{{ site.baseurl }}/data-viewer.html">Data Viewer</a></li>
          <li><a href="{{ site.baseurl }}/mpa-map.html">MPA Map</a></li>
        </ul>
      </nav>

    </header>

    <main>

      <div class="navbar-default">
        <div class="inner">
          <h1 class="center-text">Project Resources</h1>
        </div>
      </div>

      <section id="focus">
        <div class="inner">
          <h2>Focus Group Materials to Discuss Commercial and CPFV Fishing Community Well-Being in Relation to MPAs</h2>
          <p><a href="{{ site.baseurl }}/resources/MPA_Human_Uses_Updated_Flyer-August2020.pdf">MPA Human Uses Project - Informational Flyer</a></p>
          <p><a href="{{ site.baseurl }}/resources/MPA_Human_Uses_Port_Groups_Summary_Updated_August_2020.pdf">Updated Port Groupings Summary</a></p>
          <p><a href="{{ site.baseurl }}/resources/Prep_Packet_for_Commercial_Fishing_Focus_Group.pdf">Prep Packet for Commercial Fishing Focus Group Conversations</a></p>
          <p><a href="{{ site.baseurl }}/resources/MPA_Human_Uses_CPFV_'Prep Packet'-Welcome_Note_and_Focus_Group_Instructions_Sample.pdf">Prep Packet for CPFV Focus Group Conversations</a></p>
          <p><a href="{{ site.baseurl }}/resources/MPA_Human_Uses_Focus-Group-Recruitment-Process.pdf">Recruitment Process</a></p>
        </div>
      </section>

      <div class="inner">
        <section id="main_content">
            <h2>Materials from Key Communicators Webinar to Guide the Design of a 'Port Community Well-being Assessment Tool' and Focus Group Discussions - January 31, 2020</h2>
            <p><a href="{{ site.baseurl }}/resources/01312020/Webinar_Agenda.pdf">Webinar Agenda</a></p>
            <p><a href="{{ site.baseurl }}/resources/01312020/Webinar_Slide_Deck.pdf">Webinar Slide Deck</a></p>
            <p><a href="{{ site.baseurl }}/resources/01312020/Proposed_Focus_Group_Methodology_and_Port_Community_Well-being_Assessment_Tool_for_Key_Communicator_Review.pdf
              ">Proposed Methodology for Focus Groups and 'Port Community Well-being Assessment Tool' for Key Communicator Review</a></p>
            <p><a href="{{ site.baseurl }}/resources/MPA_Human_Uses_Port_Groups_Summary_Updated_March_2021.pdf">Port Groups Summary</a></p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfQUDKLny3okOW8NGE4Vg0-ol1jbJFz31FH4v_9fPsF0PQRAA/viewform">Key Communicator Feedback Questionnaire (Closed)</a></p>
            <p><a href="{{ site.baseurl }}/resources/01312020/MPA_Human_Uses_FINAL_Highlights_Summary_KC_Webinar.pdf">Webinar 'Presentation and Discussion Highlights Summary'</a></p>
            <p><a href="{{ site.baseurl }}/resources/01312020/FishingCommunityFocusGroup_Well-beingAssessmentTool_PostWebinarRevisionsJune2020.pdf">Fishing Community Focus Group Well-being Assessment Tool Post Webinar Revisions June 2020</a></p>
        </section>
      </div>

      <section id="kc-1">
        <div class="inner">
          <h2>Key Communicators Webinar #1 Informing Final Project Reporting Products - May 27, 2021</h2>
          <p><a href="{{ site.baseurl }}/resources/05272021/MPAHU_KCAgenda_FinalReportingProductsWebinar1_May272021.pdf">Webinar Agenda</a></p>
          <p><a href="{{ site.baseurl }}/resources/05272021/MPAHU_KCWebinar-1_ReportingProducts_SlideDeck_May272021.pdf">Webinar Slide Deck</a></p>
          <p><a href="{{ site.baseurl }}/resources/05272021/MPA_creative_inspo_webinar_1b.pdf">Website User Stories and Design Inpiration</a></p>
          <p><a href="https://miro.com/app/board/o9J_lNB4EQU=/">Draft Site Map</a></p>
          <p><a href="{{ site.baseurl }}/resources/05272021/MPAHU_KCWebinar1_FinalReportingProducts_KeyTakeaways_May272021.pdf">Key Takeaways from Key Communicator Feedback on Final Reporting Products</a></p>
          <p><a href="{{ site.baseurl }}/resources/MPA-Human-Uses-Study_Key-Communicator-Feedback-on-Final-Product-Development-Summer_Fall-2021-Final-Reporting-Products-KC-Feedback-Tracking.pdf">Key Communicator feedback tracking table</a></p>
        </div>
      </section>

      <section id="kc-2">
        <div class="inner">
          <h2>Key Communicators Webinar #2 Informing Final Project Reporting Products - August 27, 2021</h2>
          <p><a href="{{ site.baseurl }}/resources/08272021/MPA-HU_KC-Agenda-Final-Reporting-Webinar-2-August2021.pdf">Webinar Agenda</a></p>
          <p><a href="{{ site.baseurl }}/resources/08272021/MPA-HU_PPT_KC-Webinar-2-August2021.pdf">Webinar Slide Deck</a></p>
          <p><a href="{{ site.baseurl }}/resources/08272021/MPAHU_KCPrepWork_Webinar2_August272021.pdf">Draft Key Finding and Port Profiles</a></p>
          <p><a href="{{ site.baseurl }}/resources/MPA-Human-Uses-Study_Key-Communicator-Feedback-on-Final-Product-Development-Summer_Fall-2021-Final-Reporting-Products-KC-Feedback-Tracking.pdf">Key Communicator feedback tracking table</a></p>
        </div>
      </section>

      <section id="kc-3">
        <div class="inner">
          <h2>Sharing Sharing Final Project Reporting Products Community Webinar - Monday, December 13, 2021 | 2:00pm-4:00pm</h2>
          <p>Zoom Conference (audio and visual): <a href="https://us02web.zoom.us/j/85849592976">https://us02web.zoom.us/j/85849592976</a></p>
          <p>Optional call-in details: (US)+1-669-900-6833 | Meeting ID: 858 4959 2976</p>
          <p><a href="{{ site.baseurl }}/resources/12202021/MPAHU_PublicAgenda_FinalReportingWebinar_December132021.pdf">Webinar Agenda</a></p>
        </div>
      </section>

    </main>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="https://ecotrust.org">Ecotrust</a></p>
        {% endif %}
      </footer>
    </div>


      {% if site.google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
        </script>
      {% endif %}

  </body>
</html>
